html {
    color-scheme: dark;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.25rem;
    display: grid;
    min-block-size: 100dvh;
    place-content: center;
}

nav ul {
    --_gap: 2rem; /*gap on my ul, underscore indicate a locally scoped custom property*/
    
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding-inline: calc(var(--_gap) / 2);
    position: relative;
    overflow: hidden;
}

nav li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: orangered;

    scale: 0 1;
    transition: 
        scale 250ms,
        translate 250ms;
}

nav li:hover::after {
    scale: 1 1;
}

nav li:hover + li::after {
    translate: -100%;
}
nav li:has(+ :hover)::after {
    translate: 100%;
}

a {
    color: inherit;
    opacity: 0.7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

a:is(:hover, :focus-visible) {
    opacity: 1;
}